<h1>Editing Book</h1>

<form>
  <%= render partial: "form", locals: { book: @book } %>
</form>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>

<td><%= link_to 'Edit', edit_book_path(@book) %></td>
